name: Android CI

on:
  push:
    branches: [ "master" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "master" ]
  release:
    types: [created, published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Get version name
      id: version
      run: |
        if [ "${{ github.ref_type }}" == "tag" ]; then
          echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT
        else
          VERSION=$(grep versionName app/build.gradle | sed 's/.*"\(.*\)".*/\1/')
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
        fi
    - name: Rename APK for release
      if: github.ref_type == 'tag' || github.event_name == 'release'
      run: |
        cp app/build/outputs/apk/release/app-release-unsigned.apk app/build/outputs/apk/release/scan-to-paperless-${{ steps.version.outputs.VERSION }}.apk
    - name: Upload APK
      uses: actions/upload-artifact@v6
      with:
        name: app-release
        path: app/build/outputs/apk/release/app-release-unsigned.apk
        if-no-files-found: error
    - name: Upload renamed APK
      if: github.ref_type == 'tag' || github.event_name == 'release'
      uses: actions/upload-artifact@v6
      with:
        name: scan-to-paperless-${{ steps.version.outputs.VERSION }}
        path: app/build/outputs/apk/release/scan-to-paperless-${{ steps.version.outputs.VERSION }}.apk
        if-no-files-found: error
    - name: Upload APK to Release
      if: github.ref_type == 'tag'
      uses: softprops/action-gh-release@v2
      with:
        files: app/build/outputs/apk/release/scan-to-paperless-${{ steps.version.outputs.VERSION }}.apk
    - name: Download APK
      uses: actions/download-artifact@v7
      with:
        name: app-release
        path: downloaded-apk
